<!DOCTYPE html>
<html>
  <head>
    <title>PhotoShelter API v4 Documentation</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Pre fetch the specs --> 
    <link name="prefetch" href="./definitions/json.photoshelter.json">
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- Theme color -->
    <meta name="theme-color" content="#0044d4">
    <!-- Assets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.photoshelter.com/img/favicon.ico" type="image/png">
    <!-- ReDoc uses font options from the parent element So override default browser styles -->
    <style>

	@import url(//fonts.googleapis.com/css?family=Roboto:400,700);

      body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #333;
      }
    </style>



    <script>
	document.addEventListener("DOMContentLoaded", function(event) { 
		Redoc.init('./definitions/json/photoshelter.json', {
  			scrollYOffset: 5,
			expandResponses: "200",
			showExtensions: false,
			hideDownloadButton: true,
			requiredPropsFirst: true,
			sortPropsAlphabetically: true,
			pathInMiddlePanel:true,
			jsonSampleExpandLevel: all
		}, document.getElementById('redoc-container'));
	});
     </script>
  </head>
  <body>
	<redoc id="redoc-container"></redoc>
	<script src="https://cdn.jsdelivr.net/npm/redoc/bundles/redoc.standalone.js"></script>
  </body>
</html>
